form{
    float: right;
    right: 25%;
    font-size: 20px;
    border: 1px, solid, black;
}

#addCharacter{
    position: relative;
    left: 10%;
    margin-top: 10px;
}

button{
    margin-right: 10px;
    margin-top: 5px;
}

p{
    font-weight: 600;
}